<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.health.mapper.TbfristMapper" >
  <resultMap id="BaseResultMap" type="com.health.entity.Tbfrist" >
    <id column="FRISTID" property="fristid" jdbcType="DECIMAL" />
    <result column="FRISTNAME" property="fristname" jdbcType="OTHER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FRISTID, FRISTNAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.health.entity.TbfristExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBFRIST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from TBFRIST
    where FRISTID = #{fristid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from TBFRIST
    where FRISTID = #{fristid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.health.entity.TbfristExample" >
    delete from TBFRIST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.health.entity.Tbfrist" >
    insert into TBFRIST (FRISTID, FRISTNAME)
    values (#{fristid,jdbcType=DECIMAL}, #{fristname,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.health.entity.Tbfrist" >
    insert into TBFRIST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fristid != null" >
        FRISTID,
      </if>
      <if test="fristname != null" >
        FRISTNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fristid != null" >
        #{fristid,jdbcType=DECIMAL},
      </if>
      <if test="fristname != null" >
        #{fristname,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.health.entity.TbfristExample" resultType="java.lang.Integer" >
    select count(*) from TBFRIST
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TBFRIST
    <set >
      <if test="record.fristid != null" >
        FRISTID = #{record.fristid,jdbcType=DECIMAL},
      </if>
      <if test="record.fristname != null" >
        FRISTNAME = #{record.fristname,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TBFRIST
    set FRISTID = #{record.fristid,jdbcType=DECIMAL},
      FRISTNAME = #{record.fristname,jdbcType=OTHER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.health.entity.Tbfrist" >
    update TBFRIST
    <set >
      <if test="fristname != null" >
        FRISTNAME = #{fristname,jdbcType=OTHER},
      </if>
    </set>
    where FRISTID = #{fristid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.health.entity.Tbfrist" >
    update TBFRIST
    set FRISTNAME = #{fristname,jdbcType=OTHER}
    where FRISTID = #{fristid,jdbcType=DECIMAL}
  </update>
</mapper>