<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.health.mapper.TbrolepowerMapper" >
  <resultMap id="BaseResultMap" type="com.health.entity.Tbrolepower" >
    <id column="ROLEPOWERID" property="rolepowerid" jdbcType="DECIMAL" />
    <result column="ROLEID" property="roleid" jdbcType="DECIMAL" />
    <result column="POWERID" property="powerid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ROLEPOWERID, ROLEID, POWERID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.health.entity.TbrolepowerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBROLEPOWER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TBROLEPOWER
    where ROLEPOWERID = #{rolepowerid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TBROLEPOWER
    where ROLEPOWERID = #{rolepowerid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.health.entity.TbrolepowerExample" >
    delete from TBROLEPOWER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.health.entity.Tbrolepower" >
    insert into TBROLEPOWER (ROLEPOWERID, ROLEID, POWERID
      )
    values (#{rolepowerid,jdbcType=DECIMAL}, #{roleid,jdbcType=DECIMAL}, #{powerid,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.health.entity.Tbrolepower" >
    insert into TBROLEPOWER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolepowerid != null" >
        ROLEPOWERID,
      </if>
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="powerid != null" >
        POWERID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolepowerid != null" >
        #{rolepowerid,jdbcType=DECIMAL},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="powerid != null" >
        #{powerid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.health.entity.TbrolepowerExample" resultType="java.lang.Integer" >
    select count(*) from TBROLEPOWER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TBROLEPOWER
    <set >
      <if test="record.rolepowerid != null" >
        ROLEPOWERID = #{record.rolepowerid,jdbcType=DECIMAL},
      </if>
      <if test="record.roleid != null" >
        ROLEID = #{record.roleid,jdbcType=DECIMAL},
      </if>
      <if test="record.powerid != null" >
        POWERID = #{record.powerid,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TBROLEPOWER
    set ROLEPOWERID = #{record.rolepowerid,jdbcType=DECIMAL},
      ROLEID = #{record.roleid,jdbcType=DECIMAL},
      POWERID = #{record.powerid,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.health.entity.Tbrolepower" >
    update TBROLEPOWER
    <set >
      <if test="roleid != null" >
        ROLEID = #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="powerid != null" >
        POWERID = #{powerid,jdbcType=DECIMAL},
      </if>
    </set>
    where ROLEPOWERID = #{rolepowerid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.health.entity.Tbrolepower" >
    update TBROLEPOWER
    set ROLEID = #{roleid,jdbcType=DECIMAL},
      POWERID = #{powerid,jdbcType=DECIMAL}
    where ROLEPOWERID = #{rolepowerid,jdbcType=DECIMAL}
  </update>
</mapper>