<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.health.mapper.TbuserstateMapper" >
  <resultMap id="BaseResultMap" type="com.health.entity.Tbuserstate" >
    <id column="USERSTATEID" property="userstateid" jdbcType="DECIMAL" />
    <result column="USERSTATE" property="userstate" jdbcType="OTHER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USERSTATEID, USERSTATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.health.entity.TbuserstateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TBUSERSTATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from TBUSERSTATE
    where USERSTATEID = #{userstateid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from TBUSERSTATE
    where USERSTATEID = #{userstateid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.health.entity.TbuserstateExample" >
    delete from TBUSERSTATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.health.entity.Tbuserstate" >
    insert into TBUSERSTATE (USERSTATEID, USERSTATE)
    values (#{userstateid,jdbcType=DECIMAL}, #{userstate,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.health.entity.Tbuserstate" >
    insert into TBUSERSTATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userstateid != null" >
        USERSTATEID,
      </if>
      <if test="userstate != null" >
        USERSTATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userstateid != null" >
        #{userstateid,jdbcType=DECIMAL},
      </if>
      <if test="userstate != null" >
        #{userstate,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.health.entity.TbuserstateExample" resultType="java.lang.Integer" >
    select count(*) from TBUSERSTATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TBUSERSTATE
    <set >
      <if test="record.userstateid != null" >
        USERSTATEID = #{record.userstateid,jdbcType=DECIMAL},
      </if>
      <if test="record.userstate != null" >
        USERSTATE = #{record.userstate,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TBUSERSTATE
    set USERSTATEID = #{record.userstateid,jdbcType=DECIMAL},
      USERSTATE = #{record.userstate,jdbcType=OTHER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.health.entity.Tbuserstate" >
    update TBUSERSTATE
    <set >
      <if test="userstate != null" >
        USERSTATE = #{userstate,jdbcType=OTHER},
      </if>
    </set>
    where USERSTATEID = #{userstateid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.health.entity.Tbuserstate" >
    update TBUSERSTATE
    set USERSTATE = #{userstate,jdbcType=OTHER}
    where USERSTATEID = #{userstateid,jdbcType=DECIMAL}
  </update>
</mapper>